@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
/* modify standard named: html5, bootsrap, w3css styles */

body {
    font-family: monospace;
    font-family: 'Roboto Slab', serif;
    background-color: silver;
}

input[type=text], input[type=url], input[type=email], input[type=tel], select, option {
    border: solid;
    border-width: 1px;
    border-radius: 15px 15px 15px 15px;
    border-color: gray;
}

a {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.active {
    font-weight: bold;
    font-size: 16px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
    width: 120px;
}

.progress {
    fomt-size: 50px;
}

/* my specific custom styles */

.fontInconsolata {
    font-family: 'Inconsolata', monospace;
}

.fontDancingScript {
    font-family: 'Dancing Script', cursive;
}

#myCoverPageTitle {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}

#myCoverPageTitle:hover {
    font-size: 75px;
}

.titlebrowser {
    font-size: 60px;
}

/* used in FOUC: Flash Of Unstyled Content */

.starthidden-onpageload {
    display: none;
}

.my-table-overflow {
    overflow-y: scroll;
    overflow-x: scroll;
}

#myCoverPage {
    color: black;
    font-size: 58px;
    position: absolute;
    border-bottom: 55px solid;
    background-color: #222;
    color: white;
    z-index: 2;
}

.loadedText-bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 2px;
    display: inline-block;
    background-color: white;
    z-index: 4;
}

.my-jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.my-preview-font {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.preview-container {
    padding-top: 80px;
    padding-bottom: 55px;
    padding-left: 120px;
    width: 100%;
    line-height: 24px;
}

.center-sidenav {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.button-sidenav {
    /* padding: 30px 30px 30px 30px;*/
    width: 80px;
    height: 80px;
    color: black;
    font-weight: bold;
}

.textAsButton {
    border: none;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}

.span-width {
    color: black;
    background-color: lightgray;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 118px;
    border-radius: 15px 0px 0px 15px;
    border: solid;
    border-color: gray;
    border-width: 1px;
}

.highlighterDiv {
    background-color: #FFFF99;
    /* Yellow-ish */
    color: black;
    border-bottom: 2px solid red;
    border-bottom: 2px solid #ff3385;
    min-width: 20px;
    padding-left: 3px;
    padding-right: 3px;
    text-indent: 0px;
}

.tab {
    text-indent: 40px;
}

/* Set gray background color and 100% xy center */

.sidenav {
    left: 0em;
    width: 120px;
    height: 100%;
    position: absolute;
    background-color: #555;
    color: white;
    visibility: visible;
    z-index: 10;
}

.graytheme-paper {
    background-color: lightgray;
    background-color: #f2f2f2;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.whitetheme-paper {
    background-color: #555;
    color: #e6ffff;
}

.small-screen-navButtons {
    display: none;
    visibility: hidden;
}

/* center the div in whole app */

.vertical-center {
    min-height: 100%;
    height: 100vh;
    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* Align the bootstrap's container vertically */
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* In legacy web browsers, specify the width of the flex container */
    width: 100%;
    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers hence the bootstrap's container won't be aligned to the center anymore. Therefore, we use the following declarations to get it centered again */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* additional checks */
    -ms-overflow-style: auto;
    -ms-overflow-scrolling: touch;
    vertical-align: middle;
}

.myInputInvalid {
    background-color: #f9ecec;
    color: #993333;
    border-color: #993333;
}

.myInputValid {
    background-color: #eafaea;
    color: green;
    border-color: #1a3300;
}

/* modal dialog pop-up */

.modalDialog {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(000, 0, 0, .8);
    display: none;
    z-index: 9999;
    color: black;
}

.modalDialog:target {
    pointer-events: auto;
}

.modalDialog>div {
    width: 75%;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.modalDialogClose {
    background: #606061;
    color: white;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 25px;
    padding-bottom: 1px;
    padding-left: 1px;
    border-radius: 50px;
}

.modalDialogClose:hover {
    background: red;
    color: white;
}

/* decorative Clock and Gear animated SVGs */

.defs {
    /*visibility: hidden;*/
    display: none;
    position: fixed !important;
    height: 1px !important;
    width: 1px !important;
    bottom: 0px !important;
    left: 0px !important;
    z-index: -999 !important;
    display: inline !important;
}

.myGearsSvg {
    position: fixed!important;
    right: 0px;
    bottom: 50px;
    opacity: .1;
}

.toggleColors {
    display: inline-block;
}

.toggleBlackBackground {
    background-color: black;
    color: silver;
}

.toggleClockBackground {
    background-color: blue;
}

.formValidationButtonContainer {
    width: 50wv;
}

/* *** marquee *** */

.marquee {
    width: 100%;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 40s linear infinite;
    color: gray;
}

.marquee:hover {
    animation-play-state: paused
}

/* Make marquee move */

@keyframes marquee {
    0% {
        text-indent: 27.5em
    }
    100% {
        text-indent: -105em
    }
}

/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 800px) {
    .sidenav {
        width: 85px;
    }
    .preview-container {
        padding-left: 85px;
    }
}

@media screen and (max-width: 767px) {
    .sidenav {
        display: none;
        visibility: hidden;
    }
    .small-screen-navButtons {
        visibility: visible;
        display: block;
        height: 55px;
        width: 100%;
        padding-top: 5px;
    }
    .preview-container {
        padding-top: 90px;
        padding-left: 2px;
        height: 100%;
        width: 100%;
    }
    .text-left {
        padding-bottom: 60px;
    }
    #mainContainer{
        font-size: 85%;
    }
}

/* W3 School switches and sliders */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #666699;
}

input:focus+.slider {
    box-shadow: 0 0 1px #666699;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* an additional loading animation, css controlled SVG */

#wrapperLoadScreen2 {
    position: relative;
    /*background:#333;*/
    height: 100%;
}

.profile-main-loader {
    left: 50% !important;
    margin-left: 0px;
    position: fixed !important;
    top: 50% !important;
    margin-top: 0px;
    width: 45px;
    z-index: 9000 !important;
}

.profile-main-loader .loader {
    position: relative;
    margin: 0px auto;
    width: 45px;
    height: 45px;
}

.profile-main-loader .loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular-loader {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: auto;
}

.loader-path {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -10;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@-webkit-keyframes color {
    0% {
        stroke: #70c542;
    }
    40% {
        stroke: #70c542;
    }
    66% {
        stroke: #70c542;
    }
    80%, 90% {
        stroke: #70c542;
    }
}

@keyframes color {
    0% {
        stroke: #70c542;
    }
    40% {
        stroke: #70c542;
    }
    66% {
        stroke: #70c542;
    }
    80%, 90% {
        stroke: #70c542;
    }
}
