/* modify standard named: html5, bootsrap, w3css styles */
    body {
        font-family: monospace;
        background-color: silver;
    }
    input[type=text], input[type=url], input[type=email], input[type=tel], select, option {
        border: solid;
        border-width: 1px;
        border-radius: 15px 15px 15px 15px;
        border-color: gray;
    }
    a {
        cursor: pointer;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    .active {
        font-weight: bold;
        font-size: 16px;
    }
    .navbar {
        margin-bottom: 0;
        border-radius: 0;
    }

    .navbar-brand {
        font-weight: bold;
        font-size: 24px;
        width: 120px;
    }
    .progress {
        fomt-size: 50px;
    }
